<img src="assets/img/baphomet-dori-hartley.jpg" alt="" style="float:right; height: 50%;">
<h1 style="text-align: center;">Demônio</h1>
<p style="margin-top: 50px;">

  Demónio (português europeu) ou demônio (português brasileiro) é, segundo o cristianismo, um anjo que se rebelou contra
  Deus e que passou a lutar pela perdição da humanidade. Na antiguidade, contudo, o termo tinha outra conotação,
  referindo-se a um gênio que inspirava os indivíduos tanto para o bem quanto para o mal.
</p>
<p>
Nos contextos judaico e islâmico, a ideia é diversa, até porque não se trata de um ente opositor ao Criador, mas de
algumas criaturas a Ele subalternas. Na cércea do primeiro contexto, refere-se a um ser imperfeito que foi formado no
sexto dia da Criação. Para o segundo, os demônios, ou jinn, são seres que coexistem com os seres humanos, sendo
dotados de livre-arbítrio e chefiados por Iblis.

</p>