<!-- <ul>
  <li *ngFor="let produto of produtos" style="list-style-type: none;">
      <div class="container" style="width: 280px; height: 300px; background: darkgrey; float: left; margin: 10px 10px;">
        <div style="width: 90%; height: 75%;">
          <img src="" alt="">
        </div>
        <h4 style="text-align: center;">
          {{produto.id}}
          {{produto.nome}}
        </h4>
        <p style="text-align: left;">
          Valor: {{produto.valor}}
          <a [routerLink]="[ '/produtos', produto.id ]">Mais...</a>
        </p>
      </div>
      {{produto.descricao}}
  </li>
</ul> -->


<li *ngFor="let produto of produtos" style="list-style-type: none;">
  <div class="container" style="width: auto; height: auto; background: darkgrey; float: left; margin: 10px 10px;">
    <div class="row">
      <div class="col">
        <img src="{{produto.imagem}}" alt="" style="--size: 200px; height: var(--size); width: var(--size)">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4 style="text-align: center;">
          {{produto.id}}
          {{produto.nome}}
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p style="text-align: left;">
          Valor: {{produto.valor}}
          <a [routerLink]="[ '/produtos', produto.id ]">Mais...</a>
        </p>
      </div>
    </div>
  </div>
</li>



<!-- <li *ngFor="let promise of promises" style="list-style-type: none;">
  <div class="container" style="width: auto; height: auto; background: darkgrey; float: left; margin: 10px 10px;">
    <div class="row">
      <div class="col">
        <img src="{{promise.imagem}}" alt="" style="--size: 200px; height: var(--size); width: var(--size)">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4 style="text-align: center;">
          {{promise.id}}
          {{promise.nome}}
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p style="text-align: left;">
          Valor: {{promise.valor}}
          <a [routerLink]="[ '/promises', promise.id ]">Mais...</a>
        </p>
      </div>
    </div>
  </div>
</li> -->