.cabecalho {
    height: auto;
    background: rgb(0, 0, 0);
}

.menu {
    height: auto;
    background: rgb(0, 0, 0);
}

.fundo {
    background-image: url('../img/bg-pet.jpg');
}

.rodape {
    height: 100px;
    background: rgb(0, 0, 0);
    bottom: 0;
    text-align: center;
    /* position: -webkit-sticky; */
    position: absolute;
}

.rodape h4 {
    color: #FFF;
}

/* .container {
    vertical-align: "middle";
} */
.titulo {
    color: #FFF;
    font-size: 75px;
}

.texto {
    text-align: justify;
    text-shadow: 1px 1px green;
}

/* home */
.btnhome {
    border-bottom: yellow 3px solid;
    height: 40px;
    transition: 0.5s;
    /* width: 100px; */
}

.btnhome input {
    /* margin: 5 45%; */
    display: block;
    margin: auto;
    padding: 10px;
}

.btnhome:hover {
    border-bottom: yellow 40px solid;
}

/* servicos */
.btnservicos {
    border-bottom: orange 3px solid;
    height: 40px;
    transition: 0.5s;
}

.btnservicos input {
    background-color: rgba(0, 0, 0, 0);
    color: #FFF;
    font-weight: bold;
    font-size: 16;
    border: 0;
    height: 40px;
    width: 100%;
    cursor: pointer;
}

.btnservicos:hover {
    border-bottom: orange 40px solid;
}

/* produtos */
.btnprodutos {
    border-bottom: lime 3px solid;
    height: 40px;
    transition: 0.5s;
}

.btnprodutos input {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    color: #FFF;
    font-weight: bold;
    font-size: 16;
    height: 40px;
    width: 100%;
    cursor: pointer;
}

.btnprodutos:hover {
    border-bottom: lime 40px solid;
}

/* galeria */
.btngaleria {
    border-bottom: cyan 3px solid;
    height: 40px;
    transition: 0.5s;
}

.btngaleria input {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    color: #FFF;
    font-weight: bold;
    font-size: 16;
    height: 40px;
    width: 100%;
    cursor: pointer;
}

.btngaleria:hover {
    border-bottom: cyan 40px solid;
}

/* contato */
.btncontato {
    border-bottom: purple 3px solid;
    height: 40px;
    transition: 0.5s;
}

.btncontato input {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    color: #FFF;
    font-weight: bold;
    font-size: 16;
    height: 40px;
    width: 100%;
    cursor: pointer;
}

.btncontato:hover {
    border-bottom: purple 40px solid;
}

/*  */